<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h5><a class="nav-link" href="#">logout</a></h5>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">Liste des biens</a>
        </li>
      </ul>
    </div> 
  </div>
</nav>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

