<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h5><a class="nav-link" href="#">logout</a></h5>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/list" routerLinkActive="active">liste des biens </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="../assets/create.svg" class="img-fluid" alt="Phone image">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form [formGroup]="goodForm" (ngSubmit)="onFormSubmit()"> 
              <!-- Nom input -->
              <div class="form-outline mb-4">
                <input type="text"
                id="nom"
                [(ngModel)] = "bien.nom"
                formControlName="nom"
                 class="form-control form-control-lg" required/>
                <label class="form-label">Nom du bien</label>
              </div>
    
              <!-- Ville input -->
              <div class="form-outline mb-4">
                <input type="text"
                id="ville"
                [(ngModel)] = "bien.ville"
                formControlName="ville" 
                class="form-control form-control-lg" required/>
                <label class="form-label">Ville</label>
              </div>

             <!-- latitude input -->
                <div class="form-outline mb-4">
                    <input type="text"
                    id="latitude"
                    [(ngModel)] = "bien.latitude"
                    formControlName="latitude" 
                    class="form-control form-control-lg" required/>
                    <label class="form-label">latitude</label>
                </div>
                             <!-- longitude input -->
                             <div class="form-outline mb-4">
                              <input type="text"
                              id="longitude"
                              [(ngModel)] = "bien.longitude"
                              formControlName="longitude" 
                              class="form-control form-control-lg" required/>
                              <label class="form-label">longitude</label>
                          </div>
            <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
    
              <div class="divider d-flex align-items-center my-4">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>