 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h5><a class="nav-link" href="#">logout</a></h5>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/create">Créer un bien</a>
          </li>
        </ul>
      </div> 
    </div>
  </nav>
  
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
<!--<div style="margin-top:20px;">
  <button type="button" class="btn btn-danger"(click)='deleteGoods()'>Delete All</button>
</div>-->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">key</th>
        <th scope="col">Nom</th>
        <th scope="col">Ville</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Date Ajout</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor= " let item of bien">
        <td>{{ item.id}}</td>
        <td>{{ item.nom}}</td>
        
        <td>{{ item.ville}}</td>
        
        <td>{{ item.latitude }}</td>
        
        <td>{{ item.longitude}}</td>

        <td>{{ item.dateAjout}}</td>
        <td>
          <button type="button" class="btn btn-success" routerLink="/maps/{{item.id}}">Maps</button>&nbsp;
          <button type="button" class="btn btn-primary" routerLink="/update/{{item.id}}"> Modifier</button>&nbsp; 
          <button type="button" class="btn btn-danger"(click)='deleteGood(item.id)'>Supprimer</button>
        </td>
        
        </tr>
    </tbody> 
  </table>

